<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order Confirmation</title>
    <style>
        .center{
            margin:auto;
            width:60% ;
            border:3px solid #73AD21;
            padding:10px;

        }
    </style>
</head>
<body bgcolor="#ff7f50"><br/><br/><br/>
<h2 align="center">Thank you for shopping with us!!</h2><br/><br/><br/><br/><br/><br/>
<div class="center">
    <p>Your order has been placed successfuly!!</p>
</div>


</body>

</html>